
*.aux
*.log
*.out
*.gz
*.toc
TP2/Ejercicio 2/Simulacion/Sim.op.raw
TP2/Ejercicio 2/Simulacion/Sim.raw
TP2/Ejercicio 2/Simulacion/Sim.net
TP1/Simulacion/tp1-pto3.raw
TP1/Simulacion/tp1-pto3.op.raw
TP1/Simulacion/Draft1.raw
